
<div class="card card-dis-container">
    <h3 class="cad conf-title">
        Modelo de Dispositivos
    </h3>
       <div>
       <div>Dispositivo Config: </div>
       <select> 
       <option ng-repeat="item in [{id:1,nome:'Lampada'},{id:2,nome:'TV'}]">{{item.nome}}</option>
       </select>
    </div>

    <div>
       <div> Nome Dispositivo: </div>
        <input type="text" name="nome" ng-model="modelo.nome">
    </div>
<p>

      <div>
       <div>Ação do Dispositivo: </div>
        <input type="text" name="dispositivo" ng-model="acao.disp">
    </div>
<p>
      
    <div> Parametro do Dispositivo: </div>
    <div>
        Ligado:

        <select>
            <option>Sim</option>
            <option>Nao</option>
        </select>
    </div>
    <p>
    <p>
    <p>
        <button type="submit" class="btn btn-success">Novo</button>
        <button type="submit" class="btn btn-success" ng-click="gravar()">Salvar</button>
        <input type="reset" value="Limpar" class="btn btn-warning">



 </div>

